@use "../colors";
@use "../breakpoints";

.chat-upload-icon {
  color: colors.$deep-purple;
  font-size: 7.25rem;
  margin-bottom: 0.5rem;
}

.drag-drop-text {
  font-size: 1.35em;
  color: #514a4aab;
  margin: 0 1.2rem;

  @media (min-width: breakpoints.$lg) {
    font-size: 1.75rem;
  }
}