.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: rgb(31, 31, 38);

  & > :first-child {
    margin-top: auto;
  }
}
